/* CSS definition file containing site stylesheet */
body {
    margin: 20px, 20px, 20px, 20px;
    background-color: #7dd0d6;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#content {
    width:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    font-size: small;
    font-style:italic;
    text-align:center;
    padding: 30px;
}

.row {
    margin-bottom:10px;
}

#member_image {
    width: 75px;
    height: 75px;
    border: 3px solid #f58220;
}

#member_table {
    text-align: center;
}

#main_logo {
	text-align: center;
	display: block;
	margin: auto;
}

td.font {
	font-size: 15px;
	font-weight: bold;
}

.navbar-inner {
    background-image: url("/assets/images/nav/navbar_bg.png");
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
}

div.teamtable {
    text-align: center;
}

div.teamtable td {
    padding: 0 20px;
    border: 1px solid black;
}

div.teamtable td.nopadding {
    padding: 0;
}

div.playerstable {
    text-align: center;
}

div.playerstable td {
    padding: 0 20px;
    border: 1px solid black;
}

div.playerstable td.nopadding {
    padding: 0;
}

div.about {
    background-color: #000;
}