/* CSS definition file containing site stylesheet */
body {
    margin: 20px, 20px, 20px, 20px;
    background-image: url("/assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

title {
    width: 100%;
    margin-left: 20px;
    padding-left: 20px;
}

#content {
    width:100%;
    height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#footer {
    font-size: small;
    font-style:italic;
    text-align:center;
    padding: 30px;
}

.row {
    margin-bottom:10px;
}

.specialmargin {
    margin-left: 50px;
}

#header_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#member_image {
    width: 75px;
    height: 75px;
}

#membertable {
    text-align: center;
    margin: 0 auto;
    width: 700px;
}

#stadium {
    text-align: center;
    display: block;
    margin: auto;
}

#img_players {
    text-align: center;
    display: block;
    margin: auto;
}

#about_text {
    padding: 20px;
    text-align: center;
    display: block;
    margin: auto;
}

td.font {
    font-size: 15px;
    font-weight: bold;
}

.navbar-inner {
    background-image: url("/assets/images/nav/navbar_bg.png");
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    height: 50px;
}

.teamtable {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 625px;
}

.teamtable td {
    padding: 0 20px;
    border: 1px solid #105878;
}

.teamtable th {
    background-color: #f58220;
    border: 1px solid #f58220;
    color: white;
}

div.teamtable td.nopadding {
    padding: 0;
}

.scorestable {
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 483px;
}

.scorestable td {
    padding: 0 20px;
    border: 1px solid #105878;
}

.scorestable th {
    background-color: #f58220;
    border: 1px solid #f58220;
    color: white;
}

div.scorestable td.nopadding {
    padding: 0;
}

div.playerstable {
    text-align: center;
}

div.playerstable td {
    padding: 0 20px;
    border: 1px solid black;
}

div.playerstable td.nopadding {
    padding: 0;
}

#playerview {
    text-align: center;
}

#sort_form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    float: left;
}

#layout_form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    float: right;
}

#team_sort_form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    float: left;
}

#team_layout_form {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 450px;
    float: right;
}

#rosterlinks {
    text-align: center;
    font-size: 20px;
}

#welcome_text {
    padding: 20px;
    text-align: center;
    color: #8c8c8c;
}

input#playerid {
    display: none;
}

tr.layoutheading {
    background-color: black;
    border: 1px solid black;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.center_content {
    text-align: center;
    width: 100%;
}

img.nfllogo {
    height: inherit;
    max-width: inherit;
}

a {
    color: #158f98;
}

.add_player {
    border: 2px solid #f58220;
    border-radius: 8px;
    padding: 10px;
    font-size:24px;
}

#prediction {
    color: #158f98;
}